div.simply-section{
    height: 75px !important;
    width: 75px !important;
}

div span.simply-amount {
    line-height: 15px;
    margin-top: -18px;
    padding-bottom: 5px;
}

.simply-countdown > .simply-section .simply-word {
    font-size: 8pt !important;
}