.wedding-title {
    font-size: 12pt !important;
}

.wedding-name {
    font-size: 32pt !important;
}

@media (max-width: 376px){
    .display-t {
        margin-top: 50px;
    }

    .wedding-title {
        font-size: 12pt !important;
    }

    .wedding-name {
        font-size: 32pt !important;
    }
}